<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class="container-fluid">
<img class="img-fluid" src="assets/company.png" alt="" style="float: left;">
      <h1 class="title">Angular Deploy On Azure</h1>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, non? Dolorem porro eligendi assumenda voluptates at. Voluptates nihil quas rem necessitatibus quo dolorum illo id laboriosam dolorem excepturi aliquid tenetur, corrupti quae enim earum maxime molestias beatae sapiente expedita veniam, eius et iste. Veritatis neque vel alias recusandae impedit fugiat voluptates odio labore inventore. Laudantium sed consectetur provident explicabo facilis odio, nisi voluptas aspernatur dolores natus soluta dolore suscipit minima cupiditate vel vitae modi id porro vero adipisci error. Distinctio minima eligendi natus repellat fuga cumque nobis consectetur quas sapiente eius odit ad nemo laborum, nihil ducimus molestias magnam, possimus autem et hic. Dolore obcaecati optio ut. Earum, quidem fuga, at alias iusto ex debitis beatae repudiandae provident porro repellendus!</p>
      <a href="https://azure.microsoft.com/es-es/get-started/azure-portal">
      <button class="btn btn-primary">Deploy on Azure</button></a>
</div><br>

<div class="banner"><br><br>
  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1><br>
</div><br>


<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="assets/1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Project One</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/2.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Project Two</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/3.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Project Three</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/4.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Project Four</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>


</div>